body {
    font-family: Arial;
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
}

.device-card {
    background: #2e2e2e;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
